:root {
    --cor-branca: #f1f5f9;
    --cor-escura: #212529;
}

* {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header,
footer {
    border-bottom: 1px solid var(--cor-escura);
    padding: 2rem;
    font-size: 1.125rem;
}

h1,
h2 {
    font-weight: 400;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#sobre-mim,
#habilidades,
#educacao,
#experiencia,
#contato,
#redes-sociais {
    padding: 2rem;
    border-bottom: 1px solid var(--cor-escura);
}

#sobre-mim>p,
#educacao>p {
    padding: 0.5rem;
}

#habilidades ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#habilidades li {
    margin: 1.5rem;
    border: 1px solid var(--cor-escura);
    border-radius: 9999px;
    padding: 1.125rem;
    cursor: pointer;
}

#habilidades li+li {
    margin-right: 0;
}

#theme-buttons {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    gap: 1rem;
}

#lightBtn,
#darkBtn {
    font-size: 0.75rem;
}

.is-light {
    background-color: var(--cor-branca);
    color: var(--cor-escura);
}

.is-dark {
    background-color: var(--cor-escura);
    color: var(--cor-branca);
}